<div class="form-group" ng-class="{'has-error': hasError()}">
    <label class="control-label" {{form.labelHtmlClass}} ng-show="showTitle()">{{form.title}}</label>
    <div ng-class="{'input-group': (form.fieldAddonLeft || form.fieldAddongRight)}">
        <span ng-if="form.fieldAddonLeft"
              class="input-group-addon"
              ng-bind-html="form.fieldAddonLeft"></span>
        <rzslider ng-show="form.key"
                   sf-field-model="replaceAll"
                   class="{{form.fieldHtmlClass}}"
                   ng-disabled="form.readonly"
                   rz-slider-options="form.options"
                   rz-slider-model="$$value$$"
                   ng-model="$$value$$"
                   schema-validate="form" />
        <span ng-if="form.fieldAddonRight"
              class="input-group-addon"
              ng-bind-html="form.fieldAddonRight"></span>
    </div>
    <span class="help-block">{{ (hasError() && errorMessage(schemaError())) || form.description}}</span>
</div>
